@media screen and (min-width: 1158px) {
    /*!HEADER*/
    .header > .container {
        width: 1158px;
    }
    .header-logo {
        margin-right: 76px;
    }
    .header-link {
        padding: 24px 0 28px;
    }
    .header-contacts-list {
        flex-direction: row;
        gap: 40px;
        padding: 0;
    }
    .header-contacts-mail,
    .header-contacts-tel {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0 28px;
    }
    /*!HERO*/
    .hero > .container {
        width: 100%;
        max-width: 1440px;
    }
    .hero-wrap {
        padding: 188px 0;
        background-image: var(--bg-gradient), url(../images/hero-image-desktop.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero-wrap {
            background-image: var(--bg-gradient), url(../images/hero-image-desktop-2X.jpg);
        }
    }
    .hero-btn {
        margin-top: 48px;
    }
    /*!OUR STRENGTHS*/
    .our-strengths {
        padding: 120px 0 0;
    }
    .our-strengths > .container {
        width: 1158px;
    }
    .os-icons-list {
        display: flex;
        gap: 24px;
        height: 112px;
    }
    .os-icons-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc((100% - 72px) / 4);
        background-color: var(--light);
        border-radius: 4px;
    }
    .our-strengths-item {
        width: calc((100% - 72px) / 4);
    }
    .our-strengths-title {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
    }
    .our-strengths-text {
        font-weight: 400;
    }
    /*!OUR PROJECTS*/
    .our-projects {
        background-color: var(--primary-bg);
        padding: 120px 0px 120px 0px;
        text-align: center;
    }
    .our-projects > .container {
        width: 1158px;
    }
    .our-projects-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark);
    }
    .our-projects-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 72px;
    }
    .our-projects-item {
        width: calc((100% - 48px) / 3);
        border: 1px solid var(--accent);
    }
    /*!OUR TEAM*/
    .our-team {
        padding: 120px 0px;
    }
    .our-team > .container {
        width: 1158px;
    }
    .our-team-list {
        gap: 24px;
    }
    .our-team-item {
        width: calc((100% - 72px) / 4);
    }
    /*!CUSTOMERS*/
    .customers {
        padding: 120px 0;
    }
    .customers > .container {
        width: 1158px;
    }
    .customers-icons-list {
        gap: 24px;
    }
    .customers-icons-item {
        width: calc((100% - 120px) / 6);
    }
    /*!FOOTER*/
    .footer {
        padding: 100px 0;
    }
    .footer > .container {
        width: 1158px;
    }
    .footer-container {
        gap: 0;
    }
    .footer-social-container {
        margin-left: 120px;
    }
    .footer-subscribe-container {
        flex-direction: column;
        margin-left: 80px;
    }
    .subscribe-form {
        margin-top: 16px;
    }
}
