@media screen and (min-width: 428px) {
    .hero > .container {
        width: 428px;
    }
    .our-strengths > .container {
        width: 426px;
    }
    .our-team > .container {
        width: 294px;
    }
    .customers > .container {
        width: 426px;
    }
    .footer > .container {
        width: 426px;
    }
}
