/** VARIABLES*/
:root {
    /**COLORS*/
    --primary-bg: #ffffff;
    --primary-brand: #4d5ae5;
    --dark: #2e2f42;
    --success: #31d0aa;
    --text: #434455;
    --subtle-text: #8e8f99;
    --accent: #e7e9fc;
    --light: #f4f4fd;
    --hover-focus: #404bbf;
    --bg-gradient: linear-gradient(#2e2f42b3, #2e2f42b3);
    --bg-modal: #fcfcfc;
    --modal-overlay: #2e2f4266;
    /**FONTS*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /**TRANSITIONS*/
    --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-bg-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**RESET STYLES*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: var(--main-font);
    color: var(--text);
    background-color: var(--primary-bg);
}

/**COMMON STYLES*/
.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
:focus {
    outline: transparent;
}

/*!CONTAINER*/
.container {
    padding: 0px 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

/**INDEX PAGE STYLES*/
/*!HEADER*/
.header {
    background-color: var(--primary-bg);
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
}
.header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.header-logo {
    width: 115px;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    color: var(--primary-brand);
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0px 24px 0px;
}
.hl-span {
    color: var(--dark);
}
.header-list {
    display: flex;
    gap: 40px;
}
/* .header-item {
} */
.header-link {
    position: relative;
    display: block;
    font-weight: 600;
    color: var(--dark);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0px 24px 0px;
    transition: var(--transition-color);
}
.header-link.current {
    color: var(--hover-focus);
}
.header-link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-focus);
    border-radius: 2px;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}
/* .header-contacts-item {
} */
.header-contacts-mail,
.header-contacts-tel {
    display: inline-block;
    font-style: normal;
    color: inherit;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0px 24px 0px;
    transition: var(--transition-color);
}
.header-contacts-mail:is(:hover, :focus),
.header-contacts-tel:is(:hover, :focus),
.header-link:is(:hover, :focus) {
    color: var(--hover-focus);
}

/*!BIG BANNER*/
.big-banner {
    background-color: var(--dark);
    text-align: center;
    padding: 188px 0px;
}
.big-banner-container {
    max-width: 1440px;
    height: 600px;
    background-image: var(--bg-gradient), url(../images/big-banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

.big-banner-title {
    width: 496px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-bg);
}
.big-banner-btn {
    display: inline-block;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    background-color: var(--primary-brand);
    color: var(--primary-bg);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: var(--transition-bg-color), var(--transition-color), var(--transition-box-shadow);
}
.big-banner-btn:is(:hover, :focus) {
    background-color: var(--hover-focus);
    color: var(--primary-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*!OUR STRENGTHS*/
.our-strengths {
    padding: 96px 0;
    background-color: var(--primary-bg);
}
.our-strengths-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.our-strengths-item {
    width: 100%;
}
.our-strengths-title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.our-strengths-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
/*!MEDIA*/
@media screen and (max-width: 1199px) {
    .os-icons-list {
        display: none;
    }
}

/*!OUR PROJECTS*/
/*!MEDIA*/
@media screen and (max-width: 1199px) {
    .our-projects {
        display: none;
    }
}

/*!OUR TEAM*/
.our-team {
    background-color: var(--light);
    padding: 96px 0px;
    text-align: center;
}
.our-team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-top: 72px;
}
.our-team-item {
    width: 100%;
    background-color: var(--primary-bg);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.teammate-text-container {
    padding: 32px 14px;
}
.teammate-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.teammate-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
.ot-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-list-item {
    width: 40px;
    height: 40px;
}
.social-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-bg-color);
}
.social-item-icon {
    fill: var(--primary-bg);
}
.social-item-link:is(:hover, :focus) {
    background-color: var(--hover-focus);
}

/*!CUSTOMERS*/
.customers {
    background-color: var(--primary-bg);
    padding: 96px 0;
    text-align: center;
}
.customers-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.customers-icons-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    margin-top: 72px;
}
.customers-icons-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}
.customers-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link:is(:hover, :focus) {
    border-color: var(--hover-focus);
}
.customers-item-link:is(:hover, :focus) .customers-icon {
    fill: var(--hover-focus);
}
.customers-icon {
    fill: var(--subtle-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*!FOOTER*/
.footer {
    padding: 96px 0;
    background-color: var(--dark);
    text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    text-decoration: none;
}
.fl-span {
    color: var(--light);
}
.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
    max-width: 264px;
    margin-top: 16px;
    text-align: left;
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-bg);
}
.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}
.fs-list-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-bg-color);
}
.footer-social-link:is(:hover, :focus) {
    background-color: #31d0aa;
}
.footer-social-icon {
    fill: var(--primary-bg);
}
.footer-subscribe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-bg);
}
.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}
.subscribe-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
}
.subscribe-btn {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-brand);
    cursor: pointer;
    transition: var(--transition-bg-color), var(--transition-box-shadow);
}
.subscribe-btn:is(:hover, :focus) {
    background-color: var(--hover-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-btn-container {
    display: flex;
    gap: 16px;
}
.subscribe-btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg);
}
.ss-item-icon {
    fill: var(--primary-bg);
}

/*!INDEX PAGE MODAl*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal-container {
    margin: 0 auto;
    padding: 72px 24px 24px 24px;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    background-color: var(--bg-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}
.close-icon-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon-btn:hover {
    background-color: var(--hover-focus);
}
.close-icon-btn:hover .close-icon {
    fill: var(--primary-bg);
}
.close-icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
    margin-top: 16px;
}
.modal-form-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mf-list-item {
    width: 360px;
}
.user-name-label,
.user-phone-label,
.user-email-label,
.user-comment-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
}
.modal-input-container {
    position: relative;
    margin-top: 4px;
}
.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-name-input,
.user-phone-input,
.user-email-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-name-input:focus,
.user-phone-input:focus,
.user-email-input:focus {
    border: 1px solid var(--primary-brand);
}
.user-name-input:focus + .modal-input-icon,
.user-phone-input:focus + .modal-input-icon,
.user-email-input:focus + .modal-input-icon {
    fill: var(--primary-brand);
}
.modal-form-textarea {
    width: 360px;
    margin-top: 8px;
}
.user-comment-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-top: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}
.user-comment-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #75757580;
}
.mf-user-ready {
    margin-top: 16px;
}
/* .user-ready-input {
} */
.user-ready-input:checked + .user-ready-label span {
    background-color: var(--hover-focus);
    border: none;
    fill: var(--light);
}
.user-ready-label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}
.user-ready-label span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px solid #000000;
    fill: transparent;
}
/* .user-ready-icon {
} */
.privacy-policy-link {
    color: var(--primary-brand);
}
.modal-form .modal-form-btn {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}
.modal-form-btn {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition-bg-color), var(--transition-color), var(--transition-box-shadow);
}
.modal-form-btn:is(:hover, :focus) {
    background-color: var(--hover-focus);
    color: var(--primary-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*!----------------------------------------------------------------*/

/**PORTFOLIO PAGE STYLES*/
/*!FINISHED PRODUCTS*/
.finished-products {
    background-color: var(--primary-bg);
    padding: 96px 0px 120px;
}
.filter-buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
/* .filter-buttons-item {
} */
.filter-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    color: var(--primary-brand);
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;
    transition: var(--transition-bg-color), var(--transition-color), var(--transition-box-shadow);
}
.filter-btn:is(:hover, :focus) {
    background-color: var(--hover-focus);
    color: var(--primary-bg);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.finished-products-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
}
.finished-products-item {
    background-color: var(--primary-bg);
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: var(--transition-box-shadow);
}
.finished-products-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.product-thumb {
    position: relative;
    overflow: hidden;
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-container-text {
    padding: 40px 32px 164px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
}
.finished-products-item:hover .overlay-container {
    transform: translateY(0);
}
.products-text-container {
    padding: 32px 0px 32px 16px;
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-right 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.finished-products-item:hover .products-text-container {
    border-bottom: 0.5px solid var(--light);
    border-right: 0.5px solid var(--light);
    border-left: 0.5px solid var(--light);
}
.finished-products-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.finished-products-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    margin-top: 8px;
}
