@media screen and (min-width: 768px) {
    /*!OUR STRENGTHS*/
    .container {
        width: 766px;
    }
    .our-strengths-list {
        column-gap: 24px;
    }
    .our-strengths-item {
        width: calc((100% - 24px) / 2);
    }
    .our-strengths-title {
        text-align: left;
    }
    /*!OUR TEAM*/
    .our-team {
        padding: 96px 0px 104px;
    }
    .our-team > .container {
        width: 582px;
    }
    .our-team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
    .our-team-item {
        width: calc((100% - 24px) / 2);
    }
}
