@media screen and (min-width: 768px) {
    /*!HERO*/
    .hero > .container {
        width: 768px;
    }
    .hero-wrap {
        padding: 112px 0 108px;
        background-image: var(--bg-gradient), url(../images/hero-image-tablet.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero-wrap {
            background-image: var(--bg-gradient), url(../images/hero-image-tablet-2X.jpg);
        }
    }
    .hero-title {
        max-width: 494px;
        font-size: 55px;
        line-height: 1.07;
    }
    .hero-btn {
        margin-top: 40px;
    }
    /*!OUR STRENGTHS*/
    .our-strengths > .container {
        width: 766px;
    }
    .our-strengths-list {
        column-gap: 24px;
    }
    .our-strengths-item {
        width: calc((100% - 24px) / 2);
    }
    .our-strengths-title {
        text-align: left;
    }
    /*!OUR TEAM*/
    .our-team {
        padding: 96px 0px 104px;
    }
    .our-team > .container {
        width: 582px;
    }
    .our-team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
    .our-team-item {
        width: calc((100% - 24px) / 2);
    }
    /*!CUSTOMERS*/
    .customers > .container {
        width: 582px;
    }
    .customers-icons-list {
        row-gap: 72px;
        column-gap: 24px;
    }
    .customers-icons-item {
        width: calc((100% - 48px) / 3);
    }
    /*!FOOTER*/
    .footer > .container {
        width: 526px;
    }
    .footer-container {
        column-gap: 24px;
        text-align: left;
    }
    .footer-subscribe-container {
        justify-content: left;
    }
    .subscribe-form {
        gap: 24px;
    }
}
